
body {
    font-family: 'Kanit', sans-serif;
    background-color: aliceblue;
    
}

.d-flex {
    padding: 5%;
}

.home {
    padding: 0%;
}

.navbar {
    height: 5rem;
    padding: 1% 2%;
    background-color: black;
}

.img-netia {
    width: 7rem;
}

#carouselExampleAutoplaying {
    width: 100%;
    
}

.img {
    width: 100%;
    height: 40rem;
}


.mando {
    width: 100%;
    height: auto;
}

#carouselExampleAutoplaying {
    margin-top: 5rem;
}

.btn-css {
    margin: 1%;
}

.slider-btn-1 {
    
    background-color: #244044;
    
}

.slider-btn-2 {
    background-color: #0C0F1C;
}

.slider-btn-3 {
    background-color: #1D475C;
}

    
.but {
    margin: 0;
}

. {
    
}

.kupa-2 {
    margin: 15% 0 0 20%;
}

/* TITLE BUTTONS */

@media all and (min-width: 992px) {
    .kupa {
        margin: 10% 0 0 20%;
        width: 20%;
    }

    .kupa-2 {
        margin: 15% 0 0 20%;
        width: 20%;
    }

    .kupa-3 {
        display: none;
    }

    .kupa-4 {
        display: none;
    }
  }

  
@media all and (max-width: 992px) {
    .kupa {
        margin: 23% 0 0 17%;
        display: none;
    }

    .kupa-2 {
        display: none;
        margin: 23% 0 0 58%;
    }

    .kupa-3 {
        
        width: 95%;
    }

    .kupa-4 {
        width: 95%;
        
    }
  }

 
  /* FEATURES */

  .card-h-1{
   height: 5rem;
   
  }

  .card-prompt{
    margin-bottom: 2px;
    color: white;
  }

  .card-body {
    padding: 1rem;
  }

  .btn-features {
    width: 60%;
    height: 3rem
  }

  .ft-section {
    margin: 5%;
  }

hr{
    width: 30%;
    margin: auto;
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
    
}

.ft-heading {
    margin: 3% 0 3% 0;
}

.card-h-1 {
    background-color: #3CC7FA;
}

.card-h-2{
    background-color: black;
}

.card-h-3 {
    background-color: #6E60A9;
}

.navbar-nav {
    background-color: black;
} 

.nav-item {
text-align: center;}

@media all and (min-width: 992px) {
    .napis-reklama-1 {
        color: aliceblue;
        margin: 5% 0 0 22%;
        text-shadow: #0C0F1C;
        text-
    }
    
    .napis-reklama-2 {
        color: aliceblue;
        margin: 7% 0 0 26%;
    }

    .napis-reklama-3 {
        color: aliceblue;
        margin: 5% 0 0 26%
    }

    .napis-reklama-4 {
        color: aliceblue;
        margin: 7% 0 0 25.4%;
    }
}

@media all and (max-width: 992px) {
    .napis-reklama-1 {
        display: none;
    }
    
    .napis-reklama-2 {
        display: none;
    }

    .napis-reklama-3 {
        display: none;
    }

    .napis-reklama-4 {
       display: none    ;
    }
}

.icon-4k {
    width: 6rem;
}

.tel {
    color: #3CC7FA;
}

.dekoder {
    width: 3rem ;
}